.top-bar-container {
  background-color: crimson;
  height: 60px;
  top: 0;
  position: fixed;
  z-index: 9999;
}
.top-bar-item {
  display: flex;
  justify-content: center;
  height: 100%;
}
.item-btn {
  height: 100%;
  width: 100%;
  color: white;
  background-color: blue;
}
.top-bar-text {
  color: white;
}
.top-bar-link {
  height: 100%;
  width: 100%;
}
