@import "../variables.scss";

.top-bar-container {
  background-color: $primary-color !important;
  height: 58px;
  top: 0;
  position: fixed;
  z-index: 9;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media (max-width: 960px) {
  .top-bar-container {
    width: 100%;
  }
}

.top-bar-item {
  display: flex;
  justify-content: center;
  height: 100%;
}
.mobile-top-bar-item {
  display: flex;
  justify-content: center;
  height: 100%;
}
.item-btn {
  height: 100%;
  width: 130px;
  margin: 0 10px;
  color: $secondary-color;
}
.top-bar-text {
  color: $secondary-color;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}
.top-bar-text-mobile {
  color: $secondary-color;
}

.mobile-button-container {
  display: flex;
  justify-content: flex-end;
}
.mobile-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-color;
}
.mobile-top-bar-icon {
  height: 28px;
  width: 26px;
  color: $secondary-color;
}
.mobile-top-bar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}
Select {
  background-color: aqua !important;
}
.top-bar-item-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
