.contactData {
  margin: 5% 0;
}
.contact-value {
  margin: 0;
}
.btn-contaner {
  margin-bottom: 25px !important;
}
.dialog-contant {
  display: flex;
  align-items: center;
  justify-content: center;
}
#alert-dialog-slide-title {
  padding: 16px 16px 0px 16px !important;
}
.icon-style {
  color: crimson !important;
  width: 50px !important;
  height: 50px !important;
}
.contact-me-icons {
  color: crimson;
  width: 80%;
  height: 80%;
}
.socal-media-icons {
  color: crimson;
  height: 30px;
  width: 30px;
  margin: 5px;
}
