@import "../variables.scss";

.my-image-paper-size {
  height: 400px;
  width: 290px;
}
.heading-ani-color {
  color: $primary-color;
}
.image-size {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: block;
}
.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
.about-me-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1%;
}
.side-spacing-aboutme-text {
  padding: 5% 0% 0% 0%;
}
.aboutme-text-style {
  margin: 0;
  font-size: 35px;
}
.side-spacing-aboutme {
  margin: 6% 0%;
}
.about-me-container {
  margin-top: 75px !important;
}
.i-am-style {
  text-align: center;
  font-size: 30px;
  padding-top: 2px;
}
.Typo {
  margin: 0 !important;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:focus {
    text-decoration: none;
    color: inherit;
  }
  &:active {
    text-decoration: none;
    color: inherit;
  }
}
.resume-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
.resume-btn {
  background-color: $primary-color !important;
  color: $secondary-color !important;
}
