.card-spacing {
  margin: 5% 30px !important;
}
.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.card-heading {
  font-size: 25px;
  font-weight: 500;
}
.icon-size {
  height: 70px;
  width: 70px;
}
.my-services-icon-style {
  width: 100% !important;
  height: 100%;
  color: white;
}
.card-color:hover {
  background-color: crimson !important;
  color: white !important;
}
.card-color-two:hover {
  background-color: #222 !important;
  color: white !important;
}
