.card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.card-heading {
  font-size: 25px;
  font-weight: 500;
}
.icon-size {
  height: 70px;
  width: 70px;
}
.icon-style {
  width: 100% !important;
  height: 100%;
  color: white;
}
.card-color:hover {
  background-color: crimson !important;
  color: white !important;
}
.imageContner-project {
  height: 120px;
  width: 120px;
}
.image-size-project {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;
  border: 6px solid crimson;
}
.project-card-spacing {
  margin: 1% 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.project-heading-container {
  max-height: 80px;
  overflow: scroll;
  width: 100%;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: crimson;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: crimson;
}
