.item-position {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paper-size {
  position: absolute;
  left: 150px;
  width: calc(100% - 300px);
  padding: 5px;
}
.heading-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-height {
  height: 100px;
}
.side-spacing {
  margin: 5%;
}
