/* default values */
body {
  font-family: "Ubuntu", sans-serif;
}
.primary-color {
  color: crimson;
}
.section-background-color {
  background-color: #111;
}
.heading-color {
  color: white;
}
.peragraph-fontsize {
  font-size: 18px;
}
.item-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paper-size {
  margin: 2% 4%;
  padding: 5px;
}
.heading-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading-height {
  height: 100px;
}
.card-color {
  background-color: #222 !important;
}
.section-heading {
  font-size: 20px;
  font-weight: 600;
}
