/* default values */
body {
  font-family: "Ubuntu", sans-serif;
}
.primary-color {
  color: crimson;
}
.peragraph-fontsize {
  font-size: 18px;
}
.item-position {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paper-size {
  margin: 2% 4%;
  padding: 5px;
}
.heading-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading-height {
  height: 100px;
}
