$primary-color: #1fab89;
$secondary-color: white;
$primary-background-color: #62d2a2;
$secondary-background-color: #9df3c4;
$error-color: red;
$progress-bar-bg-color: white;
$paper-bg-color: #d7fbe8;
$site-bg-color: aliceblue;
