$primary-color: var(--primary-color-update);
$secondary-color: var(--secondary-color-update);
$primary-background-color: var(--primary-background-color-update);
$secondary-background-color: var(--secondary-background-color-update);
$error-color: var(--error-color-update);
$progress-bar-bg-color: var(--progress-bar-bg-color-update);
$paper-bg-color: var(--paper-bg-color-update);
$site-bg-color: var(--site-bg-color-update);
