$primary-color: #00adb5;
$secondary-color: white;
$primary-background-color: #222831;
$secondary-background-color: #393e46;
$error-color: red;
$progress-bar-bg-color: rgb(247, 231, 231);
$paper-bg-color: #eeeeee;
$site-bg-color: aliceblue;
